@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: #ffffff;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}   
.header{
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); 
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.logo{
    padding: 0px;
    width: 135.04px;
    height: 30.32px;
    
}
.logo :hover{
    transform: scale(1.15);
    transition: 0.5s ease-in-out;  
}
.form{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    
}
.search {
    width: 743px;
    height: 35px;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-indent: 10px;
    margin: 0;  
  }
::placeholder{
      color: #BBC4D6;
      font-size: 14px;
}
  
.imsearch{
      z-index: 3;
      padding-left: 10px;
      padding-top: 0px;
}
.notification{
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin:  0;

}
.rectangle{
    width: 1px;
    height: 80px;
    background-color: #EBEBF1;
    margin-right: 20px;
}
.name{
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 79px;
    height: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    letter-spacing: 0.01em;
    color: #768298;
    margin-right: 10px;
  }
.photo{ 
    display: flex;
    width: 40px;
    height: 40px;
}
.content2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.text{
    width: 1170px;
    height: 58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
}
.partners{
    width: 1170px;
    height: 270px;
}
.container{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.container2{
    display: flex;
    
    margin-top: 30px;
}
.container2 :hover{
    background: #ffffff;
    border: #ffffff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: 0.4s;
}
.container :hover{
    background: #ffffff;
    border: #ffffff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: 0.4s;
}
.hencel, .john, .mc , .ikea{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
}
.reebok , .nike , .cater{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
}
.reebok{
    margin-left: 0;
}

@media screen and (min-width: 640px) and (max-width: 734px){
    head {
       background: red;
    }
}