body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    height: 100vh;
    background: linear-gradient(180deg, #2e3440 11.98%, rgba(56, 64, 74, 0.7) 51.04%, #2e3440 87.19%), url(complex.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 80%;
}

/*Style for navigation*/
.navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.menu {
    display: flex;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    margin: 0 30px 0 0;
    font-size: 18px;
}
.menu .stop{
    color: #917724;
}

.icon li a {
    margin: 0 20px 0 0;
}
.photo{
    top: 25%;
    left: 5%;
    position: absolute;
}
.photo img{
    width: 300px;
    height: 200px;
    margin-right: 2px;
    overflow: hidden;
    transition: all 1s ease-out;
}
img:hover{
    transform: scale(1.2);
}
.text{
    position: absolute;
    top: 58%;
    left: 10%;
    width: 35%;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
}
.request{
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0;
}
.request h2{
    margin: 0;
    font-size: 30px;
    color: #d4c17f;
}
.request p{
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    color: #ffffff;
}
input{
    padding: 15px;
    border: 0 solid;
    color: #2e3440;
    opacity: 0.6;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 4px;
}
input[type=submit]{
    background: #D4C17F;
    color: white;
    font-weight: bold;
}
.dws-submit:hover{
    transition: all 0.5s;
    background: #D4C17F;
    color: white;
    opacity: 1;
}
.logo a{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    color: #D4C17F;
}

.link {
    transition: .3s;
}

.link:hover {
    color: #D4C17F;
}

/*Style for description*/
.description {
    top: 15%;
    left: 40%;
    width: 35%;
    position: absolute;
}
.description h2{
    margin: 0;
    font-size: 30px;
    color: #d4c17f;
}

/*Style for end-head*/
.post-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li {
    padding: 0 15px 0 0;
}

.social li a {
    color: #c7c7c7;
    font-size: 25px;
    text-decoration: none;
}

.post-nav {
    margin-top: 30px;
    display: flex;
    list-style: none;
}

.post-nav li {
    padding: 0 30px 0 0;
}

.post-nav li a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 18px;
}